/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*FIN RESET CSS*/
/*CALIBRAGE PX/REM*/
html {
    font-size: 62.5%;
}

/*FIN CALIBRAGE PX/REM*/
:root {
    /*https://coolors.co/ad343e-474747-f2af29-000000-e0e0ce*/
    --background-color: #E0E0CE;
    --button-color: #F2AF29;
    --text-and-border-color: #474747;
    --fourth-color: #AD343E;
    --fifth-color: #000;
}

*{
    font-family: 'Raleway', sans-serif;
    color: var(--text-and-border-color);
}


body {
    background-color: var(--background-color);
}

#container {
    display: flex;
    flex-flow: column wrap;

    align-items: center;
    margin-top: 2rem;
}

input {
    /* All buttons */
    font-size: 3rem;
    background-color: var(--button-color);
    border-radius: 10rem;
    border: var(--text-and-border-color) 0.5rem solid;
}

    #container header {
        display: flex;
        flex-flow: column wrap;

        align-items: center;
        width: 100%;
        max-width: 100vw;
    }
        #container header input {
            /* Bouton nouvelle partie */
        }
        #container header #scores {
            /* Div contenant les divs de score */
            display: flex;
            flex-flow: wrap row;

            width: 25%;
            justify-content: space-evenly;
        }

            #container header #scores #score {
                /* Div contenant le score positif */
                color: green;
            }
            #container header #scores #wrong {
                /* Div contenant le score negatif */
                color: red;
            }

        #container #question h2 {
            /* texte statique question */
            font-size: 3rem;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            max-width: 100vw;
        }
        #container #question #flag {
            /* div contenant le drapeau */
            height: 20rem;

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            margin: 2rem;
        }
            #container #question #flag img {
                /* Image du drapeau /!\ Format variable /!\ */
                height: auto;
                width: 100%;

                max-height: 100%;
            }

    #container #answers {
        /* Div contenat les quatres boutons de proposition */
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 20rem;
    }
        #container .answer {
            /* Propositions (Le style ne change pas en fonction de la proposition) */
            width: 100%;
            height: 24%;
            overflow-x: scroll;
        }
        #container .answer::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        #container .answer {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        /*Si ecran < 1000px: */
            /* Etendre les reponses a 100% de l'argeur */
        @media screen and (max-width: 1000px) {
        }