/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*FIN RESET CSS*/
/*CALIBRAGE PX/REM*/
html {
    font-size: 62.5%;
}

/*FIN CALIBRAGE PX/REM*/
:root {
    /*https://coolors.co/ad343e-474747-f2af29-000000-e0e0ce*/
    --background-color: #E0E0CE;
    --button-color: #F2AF29;
    --text-and-border-color: #474747;
    --fourth-color: #AD343E;
    --fifth-color: #000;
}



body {
    background-color: var(--background-color);
}

#container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: column;

    align-items: center;

    font-family: 'Raleway', sans-serif;
    color: var(--text-and-border-color);
}

input {
    /* All buttons */
    font-size: 3rem;
    background-color: var(--button-color);
    border-radius: 10rem;
    border: var(--text-and-border-color) 0.5rem solid;
    color: var(--text-and-border-color);
}

button {
    /*Suppression du style sur le bouton*/
    background-color: unset;
    border: none;

    color: var(--text-and-border-color);

    width: 100%;
    height: auto;
}

#topPart {
    /* top part: left panel, central panel, right panel */
    display: flex;
    flex-flow: row;

    height: 75vh;
    width: 100%;
}

#leftPanel {
    /* Left panel: Score + new game button */
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 20%;
}
    #startButton {
        /* new game button */
        width: 100%;
        height: 10%;
    }

    #score {
        /* score /10 */
        font-size: 5rem;
        text-align: center;
    }


#centerPanel {
    /* Center panel: question + flag div */
    display: flex;
    flex-flow: column;

    height: 100%;
    width: 80%;
}

#centerPanel h2 {
    /* Asked question */
    text-align: center;
    font-size: 4rem;
    height: 15%;
    width: 100%;
}

#flag {
    /* Div contenant l'image du drapeau et l'historique quand la partie se termine */
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;

    height: 80%;
    width: 100%;
}

#flag img {
    height: auto;
    width: 60%;
    max-height: 100%;
}

#rightPanel {
    /* right panel: counter + history */
    display: flex;
    flex-flow: column wrap;

    height: 100%;
    width: 20%;
}

 #rightPanel p {
     /* Counter Display */
     display: flex;
     flex-flow: column wrap;

     font-size: 5rem;
     text-align: center;
 }

#bottomPart {
    /* Bottom part: 4 possibilities */
    display: flex;
    flex-flow: column wrap;

    height: 25%;
    width: 75%;
}
    #answers {
        display: flex;
        flex-flow: column wrap;

        height: 100%;
    }

    .answer {
        /* Each possible answer */
        margin: 0.15rem;
        height: 23%;

        font-size: 2rem;
    }

#historyDiv {
    /* History end of game */
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    width: 100%;

    display: none;

}

#historyDiv ul {
    font-size: 1.7rem;
    text-align: center;

    display: flex;
    flex-flow: column wrap;
}
/*Tablettes en mode portrait et grand mobiles*/
@media screen and (max-width: 600px) {
    /*Score a gauche, bouton au milieu, compteur a droite*/
    #topPart {
        height: 60%;
        width: 100%;

        flex-flow: row wrap;
    }


    #leftPanel {
        width: 25%;
        height: 100%;
    }
    #leftPanel #startButton {
        font-size: 1rem;
    }
    #leftPanel #score {
        font-size: 2rem;
    }

    /*Drapeau*/

    #centerPanel {
        width: 50%;
        height: 100%;
    }
    #centerPanel h2{
        font-size: 2rem;
    }
    #centerPanel #flag img{
        width: 120%;
        height: auto;
        max-height: 95%;
    }

    #rightPanel {
        width: 25%;
        height: 100%;
    }
    #rightPanel #counter{
        font-size: 2rem;
    }
    /*Reponses*/

    #bottomPart {
        height: 40%;
        width: 100%;
    }

    #answers {
        height: 100%;
        width: 100%;
    }

    .answer {
        width: 100%;
    }
    /*Historique*/
}
